.posts {
  width: 60%;
  text-align: left;
  margin: auto;
  height: calc(100vh - 150px);
  overflow: hidden;
  overflow-y: auto;
}

.post {
  margin-top: 10px;
  border: solid 1px lightgray;
  padding: 10px;
}

.title {
  height: 30px;
  line-height: 30px;
  border-bottom: solid 1px gray;
  font-weight: bold;
  font-size: 18px;
}

.content {
  padding: 5px;
}

.buttonArea {
  border-top: solid 1px gray;
  height: 30px;
  line-height: 30px;
}

.button {
  display: inline-block;
  margin-right: 10px;
  background-color: #d44633;
  color: white;
  text-decoration: none;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
}